<div class="flex-col">

  <div class="mx-auto max-w-md md:max-w-2xl w-full flex">
      <% if notice.present? %>
        <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
      <% end %>

      <%= turbo_stream_from @room %>

      <%# Know using frames will make link buttons (that are usually block-inline, i.e. together) break because only the "Update" button needs to be inside the frame. %>
      <%= turbo_frame_tag "room" do %>
        <%= render @room %>

        <%= link_to 'Edit this room', edit_room_path(@room), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
        <%= link_to 'Back to rooms', rooms_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium", "data-turbo-frame": "_top" %>
        <div class="inline-block ml-2">
          <%= button_to 'Destroy this room', room_path(@room), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-red-600 font-medium text-white" %>
        </div>
      <% end %>
  </div>

  <h2 class="mt-20 mb-6 font-medium">Messages</h2>

  <div class="mx-auto max-w-md md:max-w-2xl w-full flex">
    <div id="messages">
      <%= render @room.messages %>
    </div>

    <div class="mx-auto">
      <%# Note that without the [target: "_top"] parameter, the new message form does not show up after submitting a new message. %>
      <%# Also note adding a new message re-renders the whole page. It does not append the new message dom to the page. %>
      <%= turbo_frame_tag "new_message", src: new_room_message_path(@room), target: "_top" %>
    </div>
  </div>

</div>

